@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/*=================navbar================= */

nav {
    padding: 19px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link ul {
    display: flex;
    align-items: center;
}

.nav-link li {
    list-style: none;
    margin-left: 28px;
    display: flex;
    align-items: center;

}

.nav-link a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.sign-btn {
    color: #4244E5;
    border: #4244E5 1px solid;
    border-radius: 7px;
    padding: 5px 12px;
}

/*================= Top header ================= */

.top-header {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.top-header h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
}

.top-header img {
    width: 50%;
}

.top-icon {
    color: #4244E5;
    font-size: 30px;
}

.top-p-div {
    display: flex;
    gap: 45px;
    margin-top: 24px;

}

.top-p-div p {
    display: flex;
    gap: 15px;
    color: #4244E5;

}

/* ==========insurance-plans========= */

.insurance-plans {
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;


}

.card{
    width: 138px;
    height: 82px;
    background-color: #F2F7FF;
    border-radius: 7px;
}
.card p {
    text-align: center;
    font-size: 9px;
    background-color: #5f61e9;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1px 0;
}

.insurance-plans-card .card img {
    width: 35px;
    display: flex;
    margin: 14px auto;
}

/* ==============slider-section=========== */
.slider-section{
    margin: 40px 0;
    background-color: #F2F7FF;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}