@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/*=================navbar================= */

nav {
    padding: 19px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link ul {
    display: flex;
    align-items: center;
}

.nav-link li {
    list-style: none;
    margin-left: 28px;
    display: flex;
    align-items: center;

}

.nav-link a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

